.form{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding: 24px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 1px solid black;
    border-radius: 24px;
}

.input{
    line-height: 1.5rem;
    border-radius: 4px;
    border: 1px solid black;
    padding: 4px 6px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.error{
    color: red;
    font-weight: 700;
    font-size: 12px;
}

.delete{
    border: none;
    color: white;
    background-color: red;
    padding: 10px 20px;
}

.add{
    border: none;
    color: white;
    background-color: #0d6efd;
    padding: 10px 20px;
}

.submit{
    border: none;
    color: white;
    background-color: green;
    padding: 10px 20px;
    margin-left: 10px;
}